<div class="col-xs-12 col-sm-12">
  <h3>Video Player</h3>
  <div id="demo-video-player" data-iiifav-source="demo/iiifav">
  </div>

  <h3 style="padding-top: 60px;">Audio Player</h3>
  <div id="demo-audio-player" data-iiifav-audio-source="demo/iiifavaudio"></div>
</div>
